:root {
  --primary-color: #222;
  --secondary-color: #b8b8b8;
  --background-color: #fff;
}


@font-face {
  font-family: "Sf Pro Display";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
}

@font-face {
  font-family: "Sf Pro Display";
  src: url("../fonts/SFPRODISPLAYLIGHTITALIC.OTF");
  font-style: italic;
}

@font-face {
  font-family: "Sf Pro Display";
  src: url("../fonts/SFPRODISPLAYBOLD.OTF");
  font-weight: bold;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sf Pro Display Regular", Arial, sans-serif;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
}

.body {
  overflow-x: hidden;
}

/*Попап*/

.container {
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

.navbar {
  display: none;
  position: fixed;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.menu>li>a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu>li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu>li>a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: var(--background-color);
}

.navbar__wrap .menu>li>a:hover {
  color: var(--background-color);
}

/*Header*/

.header {
  display: flex;
  width: 100%;
  max-height: 80vh;
  height: 100%;
  background: var(--primary-color);
  color: var(--background-color);
}

.header__left {
  width: 40%;
}

.header__right {
  position: relative;
  width: 60%;
}

.header__left__title {
  padding: 10px 0 0 40px;
  font-size: 2.083vmax;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-transform: uppercase;
  z-index: 2;
}

.header__left__block {
  position: absolute;
  width: 7.29vmax;
  height: 27.6vmax;
  background: var(--secondary-color);
  z-index: 1;
}

.header__left__content {
  position: relative;
  display: flex;
}

.header__left__content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header__left__content img {
  width: 100%;
  max-height: 36.45vmax;
}

.header__right__number {
  font-family: "Sf Pro Display Italic", Arial, sans-serif;
  max-height: 100px;
  height: 100%;
  padding: 15px 25px 0 0;
  font-size: 1.56vmax;
  text-align: right;
}

.header__right__number a {
  display: block;
  color: var(--background-color);
}

.header__right__number a:not(:first-child) {
  margin-top: 0.52vmax;
}

.header__right__content__text {
  text-align: right;
  width: 60%;
  word-spacing: 8px;
}

.header__right__content__text p:first-child {
  font-size: 3.125vmax;
}

.header__right__content__text p:last-child {
  font-size: 1.875vmax;
  margin-top: 20px;
}

.header__right__name {
  margin-top: 5.2vmax;
  white-space: nowrap;
  color: var(--secondary-color);
  overflow: hidden;
  font-size: 10.1vmax;
  text-transform: uppercase;
}

.header__right__messengers {
  position: absolute;
  bottom: 15px;
  right: 0;
  text-align: right;
}

.header__right__messengers img {
  margin: 0 25px 0 0;
  width: 1.6vmax;
}

/*Слайдер*/

.slider {
  width: 100%;
  background: var(--background-color);
  padding: 3vmax 20px 7vmax 20px;
}

.slider__title {
  text-align: center;
  font-size: 3.75vmax;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 2vmax;
}

.swiper {
  max-width: 600px;
  height: 29.1vmax;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--secondary-color);
}

.swiper-pagination-bullet {
  background: var(--background-color) !important;
  border: 1px solid var(--primary-color);
}

/*Видер-блок*/

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary-color);
  color: var(--background-color);
  padding: 3vmax 20px 7vmax 20px;
}

.video__title {
  text-align: center;
  font-size: 3.75vmax;
  padding-bottom: 1.8vmax;
  text-transform: uppercase;
}

.video__text-content {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 0 auto;
  word-wrap: break-word;
  text-align: center;
}

.video__text-content p {
  margin: 0 auto;
  max-width: 600px;
}

.video__text-content p:first-child {
  margin-bottom: 30px;
}

.video__content {
  margin: 0 auto;
  margin-top: 4.17vmax;
  width: 100%;
  max-width: 600px;
  height: 26vw;
  border: none;
}

/*Текст*/

.info {
  padding: 3vmax 20px 7vmax 20px;
  background: var(--secondary-color);
  font-size: 18px;
  text-align: center;
}

.info__content {
  margin: 0 auto;
  max-width: 600px;
}

.info p:nth-child(odd) {
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 20px;
}

.info p:nth-child(even) {
  padding-bottom: 3vmax;
}

.info p:last-child {
  padding: 0;
}

/*Офис*/

.office {
  background: var(--primary-color);
  color: #fefefe;
  text-align: center;
}

.office__title {
  font-size: 3.75vmax;
  padding: 1.82vmax;
  text-transform: uppercase;
}

.office img {
  height: 36.45vmax;
  width: 31.25vmax;
  padding-bottom: 1.56vmax;
}

/*Карта*/

.address {
  background: var(--background-color);
  color: var(--primary-color);
  text-align: center;
}

.address__map {
  width: 100%;
  height: 400px;
  border: none;
}